$background-color: rgb(10, 49, 71);
$header-bc: rgba(6, 25, 40, 255);
$text-color: white;
$nav-button-color: rgb(9, 40, 63);

//  rgba(0, 128, 128, 255)

// rgba(51, 51, 51, 255)

// rgba(51, 0, 0, 255)

// rgba(0, 51, 0, 255)

// rgba(51, 0, 51, 255)

// rgba(51, 25, 0, 255)

// rgb(0, 34, 34)